:root {
    --background: #5983a1;;
    --background2: #7dbea0;
    --colorText: #ffffff;
    --button: #00a55d;
    --buttonHover: #54b5d3;
}
textarea {
    resize: none;
    height: 1.7em;
}
.customBG {
    background-color: var(--background);
}
.customBG2 {
    background-color: var(--background2);
}
.customText {
    color: var(--colorText);
}
.custom-btn, .SavedCity {
    background-color: var(--button);
    box-shadow: 2px 2px 2px rgb(0, 0, 0);
    cursor: pointer;
}
.custom-btn:hover, .SavedCity:hover, .eachDayForecast:hover {
    background-color: var(--buttonHover);
    color: var(--colorText);
    
}
.customnavbar{
    color: var(--background);
    text-align: center;
}
.eachDayForecast p{
    font-size: 0.9em;
}
.eachDayForecast p:first-child{
    font-weight:bolder;
}
.fiveDayForecastHeader{
    font-weight:bolder;
    font-size: 1em;
}
.roundCorners {
    border-radius: 0 1.9em 1.9em 1.9em;
    box-shadow: 2px 2px 2px rgb(0, 0, 0);
}
.uvlow {
    background-color: lime;
    color: #000000;
}
.uvmed {
    background-color: yellow;
    color: #000000;
}
.uvhigh {
    background-color: orange;
}
.uvveryhigh {
    background-color: red;
}
.uvtoohigh {
    background-color: purple;
}
  